@font-face {
  font-family: 'Ballpoint Signature';
  src: url('~assets/fonts/BallpointSignature.woff2') format('woff2'),
    url('~assets/fonts/BallpointSignature.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
