@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html.dark {
  background: @apply bg-grey;
}

@font-face {
  font-family: 'Ballpoint Signature';
  src: url('/fonts/BallpointSignature.woff2') format('woff2'), url('/fonts/BallpointSignature.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
